.ImageBroswer{
    width: 100%;
    height: 100%;
    border-top: 5px  solid rgba(255, 255, 255, 0);
}


.ImageDisplay {
    width: 100%;
    height: 100%; /* 占满父容器的高 */
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2%;
    flex-shrink: 0;  /* 禁止所有子元素压缩  */
}