.ImageBlock {
    max-width: 90%;
    position: relative;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    /* border: 2px solid #54e6d3; */
    color: aliceblue;
    background-color: #000000;
    user-select: none;
    pointer-events: auto;
    display: grid;
    grid-template-rows: 20% 80%;
}

.ImageBlockName {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    white-space: normal;
    font-size: clamp(10px, 2vw, 16px);
}

.ImageBlockImage {
    position: relative;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}