.LabelingArea {
    background-color: rgb(0, 0, 0);
    position: relative;
    -webkit-user-drag: none;
    /* 禁止拖拽 */
    user-select: none;
    /* 禁止文字/元素选择 */
    pointer-events: auto;
    /* 确保鼠标事件正常响应 */

    display: flex;
    justify-content: center;
    align-items: center;
}

.LbaelingImage {
    position: relative;
}