.EditorView-container,
.EditorView-behind-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: rgb(254, 254, 254);
    justify-content: left;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.EditorView-before-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 0;

}

.NavigationBar-container {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
}


.main-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    overflow: hidden;
}

.ImageBroswer-container,
.LabelingArea-container,
.TagManager-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;

}

.ImageBroswer-container {
    background-color: #525252;
    overflow: hidden;
    display: block;
    border: 5px solid rgba(255, 255, 255, 0);

}

.LabelingArea-container {
    background-color: rgb(106, 106, 106)
}

.TagManager-container {
    background-color: turquoise;
}